body {
    color: rgb(38, 171, 49);
    background: rgb(54, 91, 46);
    margin: 0px;
    font-family: "Fjalla One", sans-serif;
}

header {
    border-bottom: solid 2px rgb(42, 95, 9);
    padding: 20px;
    font-size: 32px;
    color: rgb(18, 243, 56);
}

section {
    background: rgb(119, 207, 158);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

Última atividade da conta: há 0 minuto

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}

img {
  height: 200px;
}

categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

categoria-videos img{
    opacity: 0,5;
    height: 200px;
}

categoria-videos img:hover{
    opacity:1,0;
    border: 3px solid green;
}

categoria h2{
    color: rgb(42, 122, 228);
}
