body {
    color: rgb(229, 150, 213);
    background: rgb(248, 138, 241);
    margin: 0px;
    font-family: "Fjalla One", sans-serif;
}

header {
    border-bottom: solid 2px rgb(122, 105, 162);
    padding: 20px;
    font-size: 32px;
    color: rgb(135, 185, 193);
}

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}